:root {
    --heading-bg-color: rgb(0 0 139);
    --aside-bg-color: #eee;
    --border-color: rgb(0 0 0);
    --margin-size: 1rem;
}
nav {
    background-color: var(--heading-bg-color);
    padding: 10px;  
}
nav a {
    color: var(--aside-bg-color);
    display: block;
    padding: 20px;
}
h1 {
    margin: var(--margin-size);
    color: var(--heading-bg-color);
}
main img {
    width: 150px;
    height: auto;
    margin: 0 var(--margin-size);
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
    margin: var(--margin-size);
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: var(--margin-size);
    border: 2px solid var(--border-color);
    padding: 1rem;
    background-color: var(--aside-bg-color);
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 2rem;
    border-top: 1px dotted var(--border-color);
    text-align: center;
}